@font-face {
    font-family: Shrikhand;
    src: url(../../css/font/Shrikhand-Regular.otf);
  }
@font-face {
    font-family: Roboto;
    src: url(../../css/font/Roboto-Regular.ttf);
}
$couleur_primaire:#9356DC;
$couleur_secondaire:#FF79DA;
$couleur_tertiaire:#99E2D0;
$couleur_bg_gris:#eaeaea;
$couleur_bg_gris_ligth:#f6f6f6;
$couleur_blanc:#FFFFFF;

@mixin element_titre {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    padding-left: 30px;
  }
@mixin couleur_degrade{
    background: linear-gradient($couleur_primaire, $couleur_secondaire);
    
}

header{
    display: flex;
    align-content: center;
}
#logo{
    margin: 0 auto;
    background-image: url("../../images/logo/ohmyfood.png");
    background-size:40%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 70px;
}
*{
    font-family: Roboto;
    font-size: 12px;
}
a{
    text-decoration: none;
}
#main_form{
    width: 100%;
    display: flex;
    justify-content: center;
}
#formulaire{
    display: flex;
    justify-content: center;  
    width: 100%; 
    form{
        width: 100%;
    }
}
.formulaire_zone_text{
    width: 100%;
    background-color: $couleur_bg_gris;
    display:flex;
    justify-content: center;
}
#location_formulaire{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    .fa-location-dot{
        font-size: 20px;
    }
}
#main_form input{
    background-color: $couleur_bg_gris;
    border: none;
    height: 48px;
    padding-top: 10px;
    &::placeholder{
        font-size: 15px;
        color: black;
        font-weight: bold;
    }
}
#main_reserver{
    background-color:$couleur_bg_gris_ligth;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.main_reserver_ss{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 80%;
    padding-bottom: 60px;
}
.main_reserver_text1{
    font-weight: bold;
    font-size: 25px;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.main_reserver_text2{
    font-size: 15px;
    width: 80%;
    padding-bottom: 30px;
    text-align: center;
}
.btn_explorer{
	border-radius:20px;
	width:80%;
	box-shadow: 0px 0px 15px 0 #00000038;
    color: $couleur_blanc;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    @include couleur_degrade;

}

#fonctionnement{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#fonctionnement_main{
    margin: 0 auto;
    width: 100%;
}
.fonctionnement_titre{
    @include element_titre;
}
.fonctionnement_content{
    display: flex;
    flex-direction: column;
}
.fonctionnement_article{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    justify-content: space-around;
    a{
      text-decoration: none;
    }
}

.article_txt{
	border-radius:20px;
	width:75%;
	height: 53px;
	box-shadow: 0px 0px 15px 0 #00000038;
    background-color: $couleur_blanc;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover, &:focus{
        background-color: lighten($couleur_primaire,30%);
        .article_ico{
            color:$couleur_primaire;
        }
    }

}
.article_content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.article_num{
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background-color: $couleur_primaire;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
    right: 15px;
    color: $couleur_blanc;
}
.article_ico{
    padding-left: 31px;
    padding-right: 17px;
}
#restaurants_liste{
    background-color: $couleur_bg_gris_ligth;
}
#restaurants_main{
    margin: 0 auto;
}
.restaurants_titre{
    @include element_titre;
}
.restaurants_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.restaurants_article{
	border-radius:20px;
	width:80%;
	box-shadow: 0px 0px 15px 0 #00000038;
    background-color: $couleur_blanc;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    margin-bottom: 15px;
    position: relative;
    &:visited{
        color: black;
    }
}
.restaurants_article_content{
    width:100%;
}
.restaurants_article_images{
	height: 180px;
    overflow: hidden;
    width: 100%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    background-size: cover;
    background-position: center;
}
.restaurants_article_desc{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.restaurants_article_txt{
    padding-left: 10px;
}
.restaurants_article_txt_gras{
    font-weight: bold;
}
.restaurants_article_ico{
    padding-right: 10px;
    padding-top: 10px;
}
.btn_nouveau{
    height:20px;
    line-height: 20px;
    text-align: center;
    background-color: #99E2D0;
    color: darken($color: #99E2D0, $amount: 50%);
    font-weight: bold;
    position: absolute;
    bottom:220px;
    right: 20px;
    width: 75px;
}
footer{
    width: 100%;
    background-color: #353535;
}
.footer_content{
    color: $couleur_blanc;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
}
.footer_titre{
    padding-top: 20px;
    font-family: Shrikhand;
    font-size: 18px;
}
footer ul{
    list-style-type: none;
	margin:0;
	padding:0;
}
footer li{
    padding-top: 10px;
}
footer a{
    text-decoration: none;
    color: $couleur_blanc;
}
.like1 .fa-heart{
    font-size: 23px;
    cursor: pointer;
  }
  .like1 .fa-regular{
    position: relative;
    left: 27px;
  }
  .like1 .fa-solid{
    color: #FFFFFF;
  }
  .like1 .fa-heart{
    transition: color 3s ease-out;
  }
  .like1:hover .fa-heart{
    @include couleur_degrade;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
  }
#restaurants_liste a{
    color:black;
}
/* PAGES Restaurants */
#retour {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 20%;
    align-items: center;
    .fa-arrow-left{
        font-size: 20px;
        color: black;
    }
}