@font-face {
    font-family: Shrikhand;
    src: url(../../css/font/Shrikhand-Regular.otf);
  }
@font-face {
    font-family: Roboto;
    src: url(../../css/font/Roboto-Regular.ttf);
}
$couleur_primaire:#9356DC;
$couleur_secondaire:#FF79DA;
$couleur_tertiaire:#99E2D0;
$couleur_bg_gris:#eaeaea;
$couleur_bg_gris_ligth:#f6f6f6;
$couleur_blanc:#FFFFFF;
$couleur_shadow:rgba(128, 128, 128, 0.748);

@mixin element_titre {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }
@mixin couleur_degrade ($light){
    @if ($light == "normal") {
    background: linear-gradient(157deg, $couleur_secondaire 0%, $couleur_primaire 100%);
    } @else {
        background: linear-gradient(157deg, lighten($couleur_secondaire,10%) 0%, lighten($couleur_primaire,10%) 100%);
    }
}
@mixin bordure {
    border: thin solid black;
}
header{
    display: flex;
    align-content: center;
}
#logo{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    img{
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
*{
    font-family: Roboto;
    font-size: 12px;
}
a{
    text-decoration: none;
}
h2{
    font-size: 18px;
    font-weight: bold;
}
#main_form{
    width: 100%;
    display: flex;
    justify-content: center;
}
#formulaire{
    display: flex;
    justify-content: center;  
    width: 100%; 
    form{
        width: 100%;
    }
}
.formulaire_zone_text{
    width: 100%;
    background-color: $couleur_bg_gris;
    display:flex;
    justify-content: center;
}
#location_formulaire{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    .fa-location-dot{
        font-size: 20px;
    }
}
main{
    margin: 0 auto;
}
#main_form input{
    background-color: $couleur_bg_gris;
    border: none;
    height: 48px;
    margin-top: 10px;
    &::placeholder{
        font-size: 15px;
        color: black;
        font-weight: bold;
    }
}
#main_reserver{
    background-color:$couleur_bg_gris_ligth;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
.main_reserver_ss{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 80%;
    padding-bottom: 60px;
    align-items: center;
}
.main_reserver_text1{
    font-weight: bold;
    font-size: 25px;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.main_reserver_text2{
    font-size: 15px;
    width: 80%;
    padding-bottom: 30px;
    text-align: center;
}
.btn_explorer{
	border-radius:20px;
	width:300px;
	box-shadow: 0px 0px 15px 0 $couleur_shadow;
    color: $couleur_blanc;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    @include couleur_degrade("normal");
    &:hover{
        @include couleur_degrade("clair");
        box-shadow: 0px 0px 15px 0 darken($couleur_shadow,40%);
    }
}

#fonctionnement{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#fonctionnement_main{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
#fonctionnement_principal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (min-width: 992px) 
    {
        width: 90%;
    }
}
.fonctionnement_titre{
    @include element_titre;
}
.fonctionnement_content{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 992px) 
    {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-right: 50px;
    }
}
.fonctionnement_article{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    justify-content: space-around;
    a{
      text-decoration: none;
      color: black;
    }
}

.article_txt{
	border-radius:20px;
    width:300px;
	height: 53px;
	box-shadow: 0px 0px 15px 0 $couleur_shadow;
    background-color: $couleur_blanc;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover, &:focus{
        background-color: lighten($couleur_primaire,30%);
        box-shadow: 0px 0px 15px 0 darken($couleur_shadow,40%);
        .article_ico{
            color:$couleur_primaire;
        }
    }
    & .fa-solid{
        font-size:14px;
    }
    @media screen and (min-width: 768px) {
        flex-direction: column;
        justify-content: center;
        width: 400px;
    }
    @media screen and (min-width: 992px) {
        flex-direction: row;
        justify-content: center;
        width: 300px;
    }
}
.article_content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size:20px;
}
.article_num{
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background-color: $couleur_primaire;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
    right: 15px;
    color: $couleur_blanc;
}
.article_ico{
    padding-left: 31px;
    padding-right: 17px;
}
.article_sub{
    font-size: 14px;
}
#restaurants_liste{
    background-color: $couleur_bg_gris_ligth;
}
#restaurants_main{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
#restaurants_principal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    @media screen and (min-width: 768px) {
        width: 400px;
     }
    @media screen and (min-width: 992px) {
        width: 90%;
     } 
}
.restaurants_titre{
    @include element_titre;
}
.restaurants_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: 992px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
.restaurants_article{
	border-radius:20px;
	width:100%;
	box-shadow: 0px 0px 15px 0 #00000038;
    background-color: $couleur_blanc;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    margin-bottom: 15px;
    position: relative;
    &:visited{
        color: black;
    }
    @media screen and (min-width: 768px) {
        width: 400px;
     }
    @media screen and (min-width: 992px) {
       width: 40%;
    }

}
.restaurants_article_content{
    width:100%;
}
.restaurants_article_images{
	height: 180px;
    overflow: hidden;
    width: 100%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    background-size: cover;
    background-position: center;
}
.restaurants_article_images_2{
	height:max-content;
    width: max-content;
    overflow: hidden;
    width: 100%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    background-size: cover;
    background-position: center;    
}
.restaurants_article_desc{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.restaurants_article_txt{
    padding-left: 10px;
}
.restaurants_article_txt_gras{
    font-weight: bold;
}
.restaurants_article_ico{
    padding-right: 10px;
    padding-top: 20px;
}
.btn_nouveau{
    height:20px;
    line-height: 20px;
    text-align: center;
    background-color: $couleur_tertiaire;
    color: darken($color: $couleur_tertiaire, $amount: 50%);
    font-weight: bold;
    position: absolute;
    bottom:220px;
    right: 20px;
    width: 75px;
}
footer{
    width: 100%;
    background-color: #353535;
}
.footer_content{
    color: $couleur_blanc;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
}
.footer_titre{
    padding-top: 20px;
    font-family: Shrikhand;
    font-size: 18px;
}
footer ul{
    list-style-type: none;
	margin:0;
	padding:0;
}
footer li{
    padding-top: 10px;
}
footer a{
    text-decoration: none;
    color: $couleur_blanc;
}
.footer_link{
    display: flex;
    flex-direction: row;
}
.footer_link_icon{
   width: 5px;
   padding-right: 15px;
}
.like1 .fa-heart{
    font-size: 23px;
    cursor: pointer;
  }
  .like1 .fa-regular{
    position: relative;
    left: 27px;
  }
  .like1 .fa-solid{
    color: #FFFFFF;
  }
  .like1 .fa-heart{
    transition: color 3s ease-out;
  }
  .like1:hover .fa-heart{
    @include couleur_degrade("normal");
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
  }
#restaurants_liste a{
    color:black;
}

/* PAGES Restaurants */
#retour {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 20%;
    align-items: center;
    .fa-arrow-left{
        font-size: 20px;
        color: black;
        @media screen and (min-width: 992px) {
            font-size: 25px;
         }  
    }
}
#main_restaurant{
    margin-top: -50px;
}
#liste_menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $couleur_bg_gris_ligth;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#titre_restaurant{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    @media screen and (min-width: 992px) {
        justify-content: center;
     }  
    
}

.titre_restaurant_text{
    padding-top: 20px;
    font-family: Shrikhand;
    font-size: 18px;
    padding-left: 20px;
    @media screen and (min-width: 992px) {
        font-size: 25px;
     }  
}
.entrees_restaurant .plats_restaurants .desserts_restaurants {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.commander{
    border-radius:20px;
    box-shadow: 0px 0px 15px 0 #00000038;
    color: $couleur_blanc;
    font-size: 15px;
    text-align: center;
    border: none;
    cursor: pointer;
    @include couleur_degrade("normal");
    &:hover{
        @include couleur_degrade("clair");
        box-shadow: 0px 0px 15px 0 darken($couleur_shadow,40%);
    }
}
.titre_carte_restaurant {
    padding-left: 20px;
    padding-top: 20px;
}
.bordure_bas_verte{
    width: 30px;
    border-bottom: #99E2D0 solid 3px;
    padding-top: 5px;
}
.liste_elements{
    padding-left: 20px;
    padding-top: 20px;
    @media screen and (min-width: 992px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
     }  
}
.elements{
    border-radius:10px;
    width:95%;
    box-shadow: 0px 0px 15px 0 #00000038;
    background-color: $couleur_blanc;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin-bottom: 15px;
    justify-content: space-between;
    overflow: hidden;
    animation: affichage 1s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    margin-right: 15px;
	&:hover .box{
        display: flex;
        width: 50px;
        align-items: center;
        justify-content: space-around;
	}
    @media screen and (min-width: 768px) {
        width: 75%;
    }
    @media screen and (min-width: 992px) {
        width: 30%;
    }
}

.texte_elements{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: auto;
    overflow: hidden;
}
.titre_element{
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.description_element{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.groupe_element{
    display: flex;
    flex-direction: row;
    height: inherit;
    align-items: center;
}
.prix_elements{
    font-weight: bold;
    font-size: 15px;
    padding-right: 20px;
    text-align: center;
}
#restaurant_btn{
    display: flex;
    justify-content: center;
    height: 45px;
    padding-bottom: 20px;
    padding-top: 20px;
    input{
        width: 150px;
    }
}

.box{
	display: none;
    background-color: $couleur_tertiaire;
    height: inherit;
    animation-duration: 1s;
    animation-name: slidein;
    position: relative;
    .check{
        animation-name: spin;
        animation-duration: 1.5s;
        background-color: $couleur_tertiaire;
        color: $couleur_blanc;
    }
}
.fa-circle-check{
    font-size: 18px;
}

@keyframes slidein {
    from {
      width: 0px;
    }
  
    to {
      width: 50px;
    }
}
@keyframes spin {
    from {
        transform: rotate(180deg);
    }
  
    to {
        transform: rotate(0deg);
    }
}
@keyframes affichage {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1);
    }
    
}
.img_restaurant{
    background-size: cover;
    background-position: center;
	max-width: 100%;
    max-height: 100%;
	height: 300px;
    overflow: hidden;
}
@for $i from 0 to 9 {
    .delay-#{$i} {
      animation-delay:  #{calc($i / 10)}s;
    }
}

#loader{
    height: 100px;
    width: 100px;
    border-top: 10px solid $couleur_primaire;
    border-bottom: 10px solid $couleur_secondaire;
    border-left: 10px solid $couleur_tertiaire;
    border-right: 10px solid $couleur_tertiaire;
    border-radius: 50%;
    animation: tourne 2s linear 1s;
    opacity: 0;
    margin: auto;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes tourne {
    0%{
        transform: rotate(0deg);
        opacity: 1;
    }
    50%{
        transform: rotate(180deg);
        opacity: 0.5;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
        content: '';
    }
}